.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert .alert-link {
    font-weight: bold;
}
.alert > p, .alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
.alert-dismissable {
    padding-right: 35px;
}
.alert-dismissable .alert-close {
    position: relative;
    top: -2px;
    right: -21px;
    color: black;
}
.alert-success {
    color: #3c763d;
    background-color: #b9df90;
    border-color: #a0d468;
}
.alert-success hr {
    border-top-color: #c9e2b3;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert-info {
    color: #31708f;
    background-color: #7cd1ef;
    border-color: #4fc1e9;
}
.alert-info hr {
    border-top-color: #a6e1ec;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #ffdd87;
    border-color: #ffce54;
}
.alert-warning hr {
    border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
    color: #66512c;
}
.alert-error {
    color: #a94442;
    background-color: #f2838f;
    border-color: #ed5565;
}
.alert-error hr {
    border-top-color: #e4b9c0;
}
.alert-error .alert-link {
    color: #843534;
}
.alert .alert-link {
    text-decoration: underline;
    cursor: pointer;
    filter: alpha(opacity=65);
    opacity: .65;
}
.alert .alert-link:hover, .alert .alert-link:focus {
    filter: alpha(opacity=45);
    opacity: .45;
}
.alert .btn-link, .alert .btn-link:hover, .alert .btn-link:focus {
    color: black;
    filter: alpha(opacity=65);
    opacity: .65;
}
.alert .btn-link:focus, .alert .btn-link:hover {
    text-decoration: none;
    filter: alpha(opacity=40);
    opacity: .4;
}
.alert-close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.alert-close:hover,
.alert-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
button.alert-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}