{% stylesheets
    "@RasFlashAlertBundle/Resources/public/css/alerts.css"
    output = 'css/alert/alerts.css'
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<div id="ras-flash-alerts">
    {% for alert in flashAlerts %}
        <div class="alert alert-{{ alert.type }}"
             style="padding: 15px; margin-bottom: 20px; border-radius: 4px;">
            <button type="button" class="close">&times;</button>
            {{ alert.message | raw  }}
        </div>
    {% endfor %}
</div>

<script type="text/javascript">
    // Pure JavaScript implementation for flash alerts
    window.onload = function () {
        var elements = document.getElementById("ras-flash-alerts")
                .getElementsByTagName('button');

        for (var i in elements) {
            if ((" " + elements[i].className + " ").indexOf("close") > -1) {
                elements[i].onclick = function () {
                    this.parentNode.style.display = 'none';
                };
            }
        }
    }
</script>
