{% block alert %}

    {% stylesheets
        "@RasFlashAlertBundle/Resources/public/css/alerts.css"
        output = 'css/alert/alerts.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% for alert in alertNotifications %}
        <div class="alert alert-{{ alert.type }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ alert.message | raw  }}
        </div>
    {% endfor %}

{% endblock %}
